services:

  db:
    image: pgvector/pgvector:pg17
    container_name: chatbot-db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: chatbot
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./schema.sql:/docker-entrypoint-initdb.d/schema.sql

volumes:
    postgres_data: